<a [href]="'/details/' + recipeId">
    <div class="card">
        <div class="image">
            <img [src]="image" alt="">
        </div>
        <hr>
        <div class="details">
            <div class="details-content">
                <h2 [title]="title">{{ title }}</h2>
                <p>Сложность: <span>{{ getDifficulty() }}</span></p>
                <p>Время готовки: <span>{{ getCookingTime() }}</span></p>
            </div>
            <div class="details-rate">
                @if (rating != 0) {
                    <p><span>{{ rating }} </span><span>{{ getRating() }}</span></p>
                } @else {
                    <p>Нет оценок</p>
                }
            </div>
        </div>
    </div>
</a>