<a [href]="'/details/' + recipeId">
    <div class="card">
        <div class="image">
            <img [src]="image" alt="">
        </div>
        <hr>
        <div class="details">
            <div>
                <h2><u>{{ title }}</u></h2>
                <p>Сложность: <span>{{ getDifficulty() }}</span></p>
                <p>Время готовки: <span>{{ getCookingTime() }}</span></p>
            </div>
            <p class="rate"><span>{{ rating }} </span><span>{{ getRating() }}</span></p>
        </div>
    </div>
</a>