<div *ngIf="isLoading || user === undefined; then loading; else content"></div>

<ng-template #loading>
    <h1 class="loading">Загрузка...</h1>
</ng-template>

<ng-template #content>
    <div class="main">
        <div class="main-content">
            <h1>Пользователь:</h1>
            <h2>{{ user.username }} <span class="admin" *ngIf="user.role === 'Admin'">[Администратор]</span></h2>
        </div>
        <div *ngIf="!isForeign" class="sign-out">
            <input [class.clicked]="isSigningOut" [disabled]="isSigningOut" (click)="onSignOutClicked()" type="button" value="Выйти">
        </div>
    </div>
    <div class="recipes">
        <h1 class="recipes-title">Опубликованные рецепты:</h1>
        <hr>
        <app-recipes-layout 
            [recipes]="user.recipes"
            [isFinished]="!isLoading" />
    </div>
</ng-template>