<div class="grid-layout">
    @for (item of [1,2,3,4,5,6,7,8,1]; track $index) {
        <h1>Hello... {{ item || 'error' }}</h1>
    }
</div>

<div class="sidebar">
    <form class="search-form">
        <input type="text" name="query" placeholder="Найти по запросу">
        <input class="search-button" type="submit" value="Найти">
    </form>
    <hr>
    <div class="sidebar-sort">
        <h2>Сортировать по:</h2>
        <input name="sort-by" checked type="radio">
        <label>Сначала популярные</label>
        <br>
        <input name="sort-by" type="radio">
        <label>Сначала новые</label>
    </div>
    <hr>
    <div class="sidebar-create">
        <a routerLink="/create">
            <button>
                Создать рецепт
            </button>
        </a>
    </div>
</div>