<div class="sidebar">
    <div class="sidebar-search">
        <div class="search-query">
            <input type="text" placeholder="Найти по запросу">
        </div>
        <div class="search-button">
            <input type="submit" value="🔍">
        </div>
    </div>
    <div class="sidebar-create">
        <a routerLink="/create">
            <button>
                Создать рецепт
            </button>
        </a>
    </div>
    <hr>
    <div class="sidebar-sort">
        <h2>Сортировать по:</h2>
        <input name="sort-by" checked type="radio">
        <label>Сначала популярные</label>
        <br>
        <input name="sort-by" type="radio">
        <label>Сначала новые</label>
    </div>
</div>

<app-recipes-layout class="recipes-layout"/>