<div *ngIf="recipe && !isLoading; then content; else loading"></div>

<!-- Content -->
<ng-template #content>
    <div class="recipe">
        <h1>{{ recipe.title }}</h1>
        <div class="header">
            <div class="image">
                <img [src]="recipe.image" >
            </div>
            <div class="header-content">
                <div *ngIf="recipe.isModifyAllowed" class="modify">
                    <input type="button" value="Изменить">
                    <input type="button" value="Удалить">
                </div>
                <p>Автор рецепта: <a [routerLink]="['/profile', recipe.author.id]">{{ recipe.author.username }}</a></p>
                <p>Оценка пользователей: <b>{{ recipe.rating }}</b> ({{ recipe.votes }} оценок)</p>
                <p>Ваша оценка: W.I.P</p>
                <p>Сложность рецепта: <b [ngClass]="difficultyClasses">{{ viewRecipeDifficulty() }}</b></p>
                <p>W.I.P. Длительность готовки: {{ recipe.cookingTime }}</p>
            </div>
        </div>
    </div>
    <div class="description">
        <h1>Описание</h1>
        <p>{{ recipe.description }}</p>
    </div>
    <div class="ingredients">
        <h1>Ингредиенты</h1>
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
                    <span>{{ ingredient.name }} - {{ ingredient.count }} {{ viewIngredientMeasurementType(ingredient.measurementUnit) }}</span>
            </li>
        </ul>
    </div>
    <div>
        <h1>Инструкция к приготовлению</h1>
        <p>{{ recipe.instruction }}</p>
    </div>
    <div class="comments">
        <h1>Комментарии</h1>
        <form>
            <textarea placeholder="Оставить комментарий"></textarea>
            <input type="button" value="Оставить комментарий">
        </form>
        <div *ngIf="recipe.comments.length == 0">
            <h2>Комментариев пока что нет...</h2>
        </div>
        <div *ngFor="let comment of recipe.comments" class="comment">
            <h2>
                <a [routerLink]="[ '/profile', comment.userId]">
                    {{ comment.username }}:
                </a>
            </h2>
            <p>{{ comment.content }}</p>
        </div>
    </div>
</ng-template>

<!-- Loading -->
<ng-template #loading>
    <div class="loading">
        <h1>Загрузка...</h1>
    </div>
</ng-template>
